html {
    font-size: 16px;
}

body {
    background-color: rgb(34, 33, 33);
    color: #FFF;
    margin: 1.25rem;
}
/* -------------------------------------- */


/* navigation bar */
nav ul {
    font-size: 1.125rem;
    display: flex;
    justify-content: space-between;
    padding: 0 0.625rem;
}

nav ul li {
    display: inline-block;
}

/* Left navigation bar */
.nav-left a {
    text-decoration: none;
    color: #2a97ad;
}

.font-logo {
    font-family: 'Bacasime Antique', 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.25rem;
    color: #e46e07;
}

/* Right navigation bar */
.nav-right a:link {
    color: #FFF;
    text-decoration: none;
}

.nav-right a:visited {
    color: #FFF;
}

.nav-right a:hover {
    color: #e46e07;
}

.nav-right a:active {
    color: #2a97ad;
}

/* Right navigation bar button */
.nav-right button {
    font-weight: bold;
    text-transform: uppercase;
    border-color: #FFF;
    border-radius: 4px;
}

.nav-right button:hover {
    background-color: #e46e07;
    /* 1.5 px & 6.5 */
    padding: 0.09375rem 0.40625rem;
    border-color: #000;
    transition: background-color 0.1s ease-in;
}

.nav-right button:active {
    font-size: 0.75rem;
    transition: font-size 0.1s ease-in-out;
    background-color: #2a97ad;
}
/* -------------------------------------*/


/* Main section */
main {
    font-family: "Nunito", sans-serif;
    text-align: center;
}