html {
    font-size: 16px;
}

body {
    background-color: rgb(34, 33, 33);
    color: #FFF;
}

/* Style the navigation bar */
nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0 0.625rem;
}

nav ul li {
    display: inline-block;
}
.nav-left a{
    text-decoration: none;
    color: #2a97ad;
}

.font-logo {
    font-family: 'Bacasime Antique', 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.125rem;
    color: #BA5700;
}
/* ---------------------------*/