html {
  font-size: 16px;
}

body {
  /* Create variables for colors of page --css-variable-name: css property value;  */
  --color-dark-bg: #302f2f;
  --color-dark-text: #fff;
  --color-dark-bg-hover-button: #e46e07;
  --color-dark-text-active-button: #2a97ad;
  background-color: var(--color-dark-bg);
  color: #fff;
  margin: 1.25rem;
  transition: 1s;
}

body.light {
  color: #000;
  background-color: #f7f7f7;
}
/* -------------------------------------- */

/* Style the navigation bar */
nav {
  width: 100%; /* because all unnecessary space will remove with position set to fixed */
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  padding: 1% 1% 0 1%;
  background-color: var(--color-dark-bg);
  transition: 1s;
}

nav.light {
  background-color: #f7f7f7;
}

nav ul {
  font-size: 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.625rem;
}

/* Add media query for 4k(2560px) displays for nav bar */
@media only screen and (min-width: 2560px) {
  nav ul {
    justify-content: flex-start;
  }

  li.nav-left {
    margin-right: 2em;
  }
}

/* Add media query for mobile S(320px) displays for nav bar */
@media only screen and (max-width: 320px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  li.nav-left {
    margin-bottom: 2em;
    transform: scale(1.2);
  }
}

nav ul li {
  display: inline-block;
}

/* Left navigation bar */
.nav-left a {
  text-decoration: none;
  color: #2a97ad;
}

.font-logo {
  font-family: "Bacasime Antique", "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.25rem;
  color: #e46e07;
}
hr {
  margin-bottom: 0;
}

/* Right navigation bar */
.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-right a {
  margin-right: 0.5em;
  color: #fff;
}

.nav-right a.light {
  color: #000;
}

.nav-right a:link {
  text-decoration: none;
}

.nav-right a:visited {
  color: #fff;
}

.nav-right a.light:visited {
  color: #000;
}

.nav-right a:hover {
  color: #e46e07;
}

.nav-right a:active {
  color: #2a97ad;
}

/* Right navigation bar button */
.theme-toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  color: var(--color-dark-text);
  background-color: var(--color-dark-bg);
  border: none;
  border-radius: 3em;
  cursor: pointer;
  padding: 0.2em;
  /* Make shore every thing will be back to its place after changing of hover */
  transform: scale(1);
}

button.light {
  color: #000;
  background-color: #f7f7f7;
}

.theme-toggle-button:hover {
  background-color: var(--color-dark-bg-hover-button);
  transform: scale(1.09);
}

.theme-toggle-button:active {
  background-color: var(--color-dark-text-active-button);
  transform: scale(0.9);
}

svg.theme-icon {
  width: 1.7em;
  margin-right: 0.3em;
  filter: invert(99%) sepia(1%) saturate(600%) hue-rotate(349deg)
    brightness(108%) contrast(100%);
}

svg.light {
  filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(347deg)
    brightness(89%) contrast(111%);
}

/* -------------------------------------*/

/* Style the main section */
main {
  position: relative;
  top: 100px;
  font-family: "Nunito", sans-serif;
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 10rem 0;
}

section h2 {
  margin-bottom: 3.5rem;
}

/* About-me section */
.about-me,
.projects,
.skills {
  margin: 3.125rem 0 6rem 0;
  padding: 1% 0;
}

.about-me:hover {
  background-color: hsla(190, 100%, 50%, 0.116);
  transition: color 0.6s ease-in-out, background-color 0.3s ease-in-out;
}

.about-me .text-about-me {
  text-align: justify;
  word-spacing: -0.1rem;
  margin: 1rem 15%;
}

/* Add media query for mobile S(320px) displays for about-me section */
@media only screen and (max-width: 320px) {
  .about-me .text-about-me {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    word-spacing: normal;
  }
}
/* Add media query for mobile M(376px) & L(426px)displays for about-me section */
@media only screen and (max-width: 426px) {
  .about-me .text-about-me {
    width: 100%;
    margin: 0 auto;
    word-spacing: -0.1em;
  }
}

/* Project section */
/* Fixing the vertical nonalignment of the h2 and ul elements*/
.projects h2 {
  margin-bottom: 0px;
}

.projects:hover {
  background-color: hsla(190, 100%, 50%, 0.116);
  transition: color 0.6s ease-in-out, background-color 0.3s ease-in-out;
}

.projects ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects li {
  margin: 0;
}

li.subject {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 3rem;
  transform: scale(1);
}

li.subject:hover {
  color: #ea8731;
  transform: scale(1.05);
}

li.light-hover-projects:hover {
  color: #fe7700;
}

div.description {
  display: none;
}

/* Classes for JS */
div.show-des-tribute {
  display: block;
}

div.show-des-club {
  display: block;
}

div.show-des-tour {
  display: block;
}

/* Style the pictures */
figure.description-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  overflow: hidden;
}
/* Remove side bullets */
figure.description-item li {
  display: inline-block;
}

figure.description-item li img {
  /* margin-right: 0 !important; */
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 1rem;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

figcaption {
  text-align: justify;
  padding-top: 1em;
}

/* Add media query for mobile S(320px) displays for project section(figcaption) */
@media only screen and (max-width: 320px) {
  figcaption {
    margin: auto 0;
    text-align: left;
    word-spacing: normal;
  }
}

/* Add media query for mobile M(376px) displays for project section(figcaption) */
@media only screen and (min-width: 321px) and (max-width: 376px) {
  figcaption {
    margin: auto 0;
    text-align: center;
    word-spacing: normal;
  }
}

/* Add media query for mobile L(426px) displays for project section(figcaption) */
@media only screen and (min-width: 377px) and (max-width: 426px) {
  figcaption {
    margin: auto;
    /* text-align: left; */

    word-spacing: -0.1em;
  }
}

/* Skills section */
.skills {
  margin-bottom: 10rem;
}

.skills:hover {
  background-color: hsla(190, 100%, 50%, 0.116);
  transition: color 0.6s ease-in-out, background-color 0.3s ease-in-out;
}

i {
  padding-bottom: 4.5%;
}

/* --------------------------------- */
